[data-v-4fc987aa] .el-input__inner {
    padding: 0 .625rem;
    background-color: transparent;
    border: 0;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    border: .0625rem solid #474d57
}

[data-v-4fc987aa] .el-dialog {
    width: 28.75rem;
    background: #282d35;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, .3);
    border-radius: .625rem
}

[data-v-4fc987aa] .el-dialog__body,
[data-v-4fc987aa] .el-dialog__header {
    padding: 0
}

.dialog-back2[data-v-4fc987aa] {
    background-color: #282d35;
    border-radius: .625rem
}

.dialog-back2 .head[data-v-4fc987aa] {
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4375rem 1.875rem 0
}

.dialog-back2 .body[data-v-4fc987aa] {
    padding: 2.125rem 1.875rem 1.875rem
}

.dialog-back2 .body .body-top[data-v-4fc987aa] {
    border-bottom: .0625rem solid hsla(0, 0%, 100%, .03);
    padding-bottom: 1.875rem
}

.dialog-back2 .body .body-top[data-v-4fc987aa] .el-input__inner {
    width: 22.5rem
}

.dialog-back2 .body .body-top .round[data-v-4fc987aa] {
    width: .5625rem;
    height: .5625rem;
    border: .125rem solid #0ecb81;
    border-radius: 50%
}

.dialog-back2 .body .body-top .line[data-v-4fc987aa] {
    width: .0625rem;
    height: 5.4375rem;
    background: #363c45;
    margin-left: .25rem
}

.dialog-back2 .body .body-top .round2[data-v-4fc987aa] {
    width: .5625rem;
    height: .5625rem;
    border: .125rem solid #f6465d;
    border-radius: 50%
}

.dialog-back2 .body .body-top .change-img[data-v-4fc987aa] {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 2.375rem;
    left: -.75rem;
    cursor: pointer
}

.dialog-back2 .body .body-top .model1-name[data-v-4fc987aa],
.dialog-back2 .body .body-top .model-name[data-v-4fc987aa] {
    font-size: .875rem;
    font-weight: 400;
    color: #fff;
    margin-left: .625rem;
    margin-bottom: .6875rem
}

.dialog-back2 .body .body-top .model1-name[data-v-4fc987aa] {
    margin-top: 1.75rem
}

.dialog-back2 .body .body-bottom .form-name[data-v-4fc987aa] {
    margin-top: 1.5625rem;
    font-size: .875rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: .625rem
}

.dialog-back2 .body .body-bottom .select-back[data-v-4fc987aa] {
    position: relative
}

.dialog-back2 .body .body-bottom .select-back .all-btn[data-v-4fc987aa] {
    position: absolute;
    top: 1.125rem;
    right: .8125rem;
    font-size: .875rem;
    font-weight: 400;
    color: #f0c163;
    cursor: pointer
}

.dialog-back2 .body .balance-text[data-v-4fc987aa] {
    margin-top: .625rem;
    color: #999;
    font-size: .875rem
}

.dialog-back2 .body .fundTransfer-btn[data-v-4fc987aa] {
    margin-top: 1.875rem;
    width: 25rem;
    height: 3rem;
    background: #f0c163;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    cursor: pointer
}

.light-box[data-v-4fc987aa] .el-dialog {
    background: #fff
}

.light-box[data-v-4fc987aa] .el-input__inner {
    background-color: transparent;
    color: #333;
    border: .0625rem solid #e7e9ed
}

.light-box .dialog-back2[data-v-4fc987aa] {
    background-color: #fff
}

.light-box .dialog-back2 .head[data-v-4fc987aa] {
    color: #333
}

.light-box .dialog-back2 .body .body-top .line[data-v-4fc987aa] {
    background: #f5f5f5
}

.light-box .dialog-back2 .body .body-bottom .balance-text[data-v-4fc987aa],
.light-box .dialog-back2 .body .body-bottom .form-name[data-v-4fc987aa],
.light-box .dialog-back2 .body .body-top .model1-name[data-v-4fc987aa],
.light-box .dialog-back2 .body .body-top .model-name[data-v-4fc987aa] {
    color: #333
}

@media screen and (max-width:767.5px) {
    [data-v-4fc987aa] .el-dialog {
        width: 21.6875rem;
        background: #282d35;
        box-shadow: 0 0 .625rem rgba(0, 0, 0, .3);
        border-radius: .625rem
    }

    [data-v-4fc987aa] .el-dialog__body,
    [data-v-4fc987aa] .el-dialog__header {
        padding: 0
    }

    .dialog-back2[data-v-4fc987aa] {
        background-color: #282d35;
        border-radius: .5rem
    }

    .dialog-back2 .head[data-v-4fc987aa] {
        font-size: 1rem;
        padding: .875rem .875rem 0
    }

    .dialog-back2 .body[data-v-4fc987aa] {
        padding: .875rem
    }

    .dialog-back2 .body .body-top[data-v-4fc987aa] {
        border-bottom: .0625rem solid hsla(0, 0%, 100%, .03);
        padding-bottom: 1.875rem
    }

    .dialog-back2 .body .body-top[data-v-4fc987aa] .el-input__inner {
        width: 17.5rem
    }

    .dialog-back2 .body .body-top .model1-name[data-v-4fc987aa],
    .dialog-back2 .body .body-top .model-name[data-v-4fc987aa] {
        font-size: .875rem;
        font-weight: 400;
        color: #fff;
        margin-left: .625rem;
        margin-bottom: .6875rem
    }

    .dialog-back2 .body .body-top .model1-name[data-v-4fc987aa] {
        margin-top: 1.75rem
    }

    .dialog-back2 .body .body-bottom .form-name[data-v-4fc987aa] {
        margin-top: 1.5625rem;
        font-size: .875rem;
        font-weight: 400;
        color: #fff;
        margin-bottom: .625rem
    }

    .dialog-back2 .body .body-bottom .select-back[data-v-4fc987aa] {
        position: relative
    }

    .dialog-back2 .body .body-bottom .select-back .all-btn[data-v-4fc987aa] {
        position: absolute;
        top: 1.125rem;
        right: .8125rem;
        font-size: .875rem;
        font-weight: 400;
        color: #f0c163;
        cursor: pointer
    }

    .dialog-back2 .body .fundTransfer-btn[data-v-4fc987aa] {
        margin-top: 1.875rem;
        width: 20rem;
        height: 3rem;
        background: #f0c163;
        border-radius: .25rem;
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
        text-align: center;
        line-height: 3rem;
        cursor: pointer
    }
}