.container-box[data-v-2876fcc2] {
    min-height: 100vh;
    position: relative;
    background-color: #101621;
    color: #fff;
    overflow: auto
}

.container-box .container-main[data-v-2876fcc2] {
    max-width: 104.125rem;
    margin: auto
}

.container-box .content-fullscreen[data-v-2876fcc2] {
    max-width: 100%
}

.safe-bottom[data-v-2876fcc2] {
    padding-top: constant(safe-area-inset-bottom);
    padding-top: env(safe-area-inset-bottom)
}

.light-box[data-v-2876fcc2] {
    background-color: #fff
}

@media screen and (min-width:768px)and (max-width:1199.5px) {
    .container-box .container-main[data-v-2876fcc2] {
        max-width: 45.5rem
    }

    .container-box .content-fullscreen[data-v-2876fcc2] {
        max-width: 100%
    }
}

@media screen and (max-width:767.5px) {
    .container-box .container-main[data-v-2876fcc2] {
        max-width: 21.6875rem
    }

    .container-box .content-fullscreen[data-v-2876fcc2] {
        max-width: 100%
    }
}